<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mishilovers Home</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <main>
            <div>
                <h2>¡Hola!</h2>
                <p>Esta es la página principal de Mishilovers.</p>
            </div>
            <section>
                <h3>Sobre nosotros</h3>
                <p>Amamos a los gatos y compartimos fotos, historias y consejos para cuidarlos.</p>
            </section>
        </main>
    {% endblock %}
</body>
</html>