<div class="forms-container yellow-theme">
    <div class="form-section">
        <h2>Nuevo Aviso</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Título -->
            <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
                {% if form.title.errors %}
                    <div class="error-message">{{ form.title.errors }}</div>
                {% endif %}
            </div>

            <!-- Tipo de Aviso -->
            <div class="form-group">
                {{ form.alert_type.label_tag }}
                {{ form.alert_type }}
                {% if form.alert_type.errors %}
                    <div class="error-message">{{ form.alert_type.errors }}</div>
                {% endif %}
            </div>

            <!-- Descripción -->
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
                {% if form.description.errors %}
                    <div class="error-message">{{ form.description.errors }}</div>
                {% endif %}
            </div>

            <!-- Fechas -->
            <div class="form-row">
                <div class="form-group">
                    {{ form.start_date.label_tag }}
                    {{ form.start_date }}
                    {% if form.start_date.errors %}
                        <div class="error-message">{{ form.start_date.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.end_date.label_tag }}
                    {{ form.end_date }}
                    {% if form.end_date.errors %}
                        <div class="error-message">{{ form.end_date.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <button type="submit" class="btn-submit">Guardar Aviso</button>
        </form>
    </div>
</div>
