{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/styles/index.css' %}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.7.2/css/all.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="/users/areaStaff">Usuario</a></li>
            {% else %}
            <li><a href="/users">Usuario</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="/cats">Gatos</a></li>
            <li><a href="/colonies">Colonias</a></li>
            <li><a href="/municipality">Municipalidad</a></li>
            <li><a href="/veterinarian">Veterinario</a></li>
            <li><a href="/association">Assosiacion</a></li>
            <li><a href="/users/logout">Cerrar Sesión</a></li>
            {% else %}
            <li><a href="/users/signin">Iniciar Sesión</a></li>
            <li><a href="/users/signup">Registrar-se</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% block content %}
{% endblock %}
<footer>
    &copy; 2025 Mishilovers
    <br>
    <a href="https://www.tiktok.com/@montsecasaoliva?_t=8rKvWX2696v&_r=1" target="_blank"><i style="color: black;" class="fa-brands fa-tiktok"></i></a> <b>Tiktok</b>
    <br>
    <a href="https://www.instagram.com/mishiloversss/profilecard/" target="_blank"><i style="color: black;" class="fa-brands fa-square-instagram"></i></a> <b>Instagram</b>
    <button id="darkModeToggle">Modo oscuro</button>
</footer>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>