{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="{% static '/styles/index.css' %}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.7.2/css/all.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cats">Cats</a></li>
            <li><a href="/colonies">Colonias</a></li>
            <li><a href="/municipality">Municipality</a></li>
            <li><a href="/veterinarian">Veterinarian</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/association">Association</a></li>
            {% if user.is_authenticated %}
            <li><a href="/users/logout">logout</a></li>
            {% else %}
            <li><a href="/users/signin">signin</a></li>
            <li><a href="/users/signup">signup</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% block content %}
{% endblock %}
<footer>
    &copy; 2024 Mishilovers
    <br>
    <a href="https://www.tiktok.com/@montsecasaoliva?_t=8rKvWX2696v&_r=1" target="_blank"><i style="color: black;" class="fa-brands fa-tiktok"></i></a> <b>Tiktok</b>
    <br>
    <a href="https://www.instagram.com/mishiloversss/profilecard/" target="_blank"><i style="color: black;" class="fa-brands fa-square-instagram"></i></a> <b>Instagram</b>
</footer>
</body>
</html>