<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.7.2/css/all.css">
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer>
        &copy; 2024 Mishilovers
        <br>
        <a href="https://www.tiktok.com/@montsecasaoliva?_t=8rKvWX2696v&_r=1" target="_blank"><i style="color: black;" class="fa-brands fa-tiktok"></i></a> <b>Tiktok</b>
        <br>
        <a href="https://www.instagram.com/mishiloversss/profilecard/" target="_blank"><i style="color: black;" class="fa-brands fa-square-instagram"></i></a> <b>Instagram</b>
    </footer>
</body>
</html>