{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'styles/cats.css' %}">
    {% block content %}
        <main>
            <div>
                <h2>¡Hola!</h2>
                <p>Esta es la página principal de Mishilovers.</p>
            </div>
            <section>
                <h3>Sobre nosotros</h3>
                <p>Amamos a los gatos y compartimos fotos, historias y consejos para cuidarlos.</p>
            </section>
            <a href="/cats/formNewCat">crear gatos</a>
            <!-- <form action="{% url 'searchEditCat' %}" method="get" style="display:inline;">
                <input type="text" name="catname" placeholder="Nombre del gato" required>
                <button type="submit">Buscar gato</button>
            </form> -->
            <form action="{% url 'searchEditCat' %}" method="get" style="display:inline;">
                <input type="text" name="catname" placeholder="Nombre del gato">
                <select name="colony">
                    <option value="">Colonia</option>
                    {% if colonies %}
                        {% for colony in colonies %}
                            <option value="{{ colony.id }}">{{ colony.name }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="">No hay colonias</option>
                    {% endif %}
                </select>

                <select name="sex">
                    <option value="">Sexo</option>
                    <option value="M">Macho</option>
                    <option value="F">Hembra</option>
                </select>

                <select name="sterilized">
                    <option value="">¿Esterilizado?</option>
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>

                <select name="dead">
                    <option value="">¿Muerto?</option>
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>

                <button type="submit">Buscar gato</button>
            </form>
        </main>
    {% endblock %}
<script src="{% static 'js/cats.js' %}"></script>